services:
  logseq_drawio:
    image: jgraph/drawio
    container_name: logseqdrawio
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.drawio.rule=Host(`drawio.fiks.im`)||Host(`drawio.k9.voronenko.net`)"
      - "traefik.http.routers.drawio.entrypoints=web"
      - "traefik.http.routers.drawio_secure.rule=Host(`drawio.fiks.im`)||Host(`drawio.k9.voronenko.net`)"
      - "traefik.http.routers.drawio_secure.entrypoints=websecure"
      - "traefik.http.routers.drawio_secure.tls=true"
      - "traefik.http.services.logseq_drawio.loadbalancer.server.port=8080"
  logseq_plantuml:
    image: plantuml/plantuml-server:tomcat
    container_name: logseqplantuml
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.plantuml.rule=Host(`plantuml.fiks.im`)||Host(`plantuml.k9.voronenko.net`)"
      - "traefik.http.routers.plantuml.entrypoints=web"
      - "traefik.http.routers.plantuml_secure.rule=Host(`plantuml.fiks.im`)||Host(`plantuml.k9.voronenko.net`)"
      - "traefik.http.routers.plantuml_secure.entrypoints=websecure"
      - "traefik.http.routers.plantuml_secure.tls=true"
      - "traefik.http.services.logseq_plantuml.loadbalancer.server.port=8080"
  logseq_mermaid:
    image: softasap/mermaild-live-editor:latest
    container_name: logseqmermaid
    restart: always
    networks:
      - traefik-public
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.mm.rule=Host(`mm.fiks.im`)||Host(`mm.k9.voronenko.net`)"
      - "traefik.http.routers.mm.entrypoints=web"
      - "traefik.http.routers.mm_secure.rule=Host(`mm.fiks.im`)||Host(`mm.k9.voronenko.net`)"
      - "traefik.http.routers.mm_secure.entrypoints=websecure"
      - "traefik.http.routers.mm_secure.tls=true"
      - "traefik.http.services.logseq_mermaid.loadbalancer.server.port=8080"
networks:
  traefik-public:
    external: true
